* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TYPO SETTINGS */
* {
  font-family: 'Roboto', sans-serif;
}

header {
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

p {
  color: grey;
}
/* /TYPO SETTINGS */

/* REPEATED SETTINGS */
.container {
  margin: auto;
  width: 79.5%;
}

.green-button-link {
  background-color: #7CBB02;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* /REPEATED SETTINGS */

/* HEADER SETTINGS */
header {
  background-color: #0C325A;
}

header .upper-header {
  line-height: 50px;
}

header .upper-header > * {
  float: left;
  padding-top: 15px ;
  font-size: 12px;
}

header .upper-header img {
  width: 10%;
}

header .upper-header .main-nav {
  padding-left: 70px;
}

header .upper-header nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

header .upper-header nav li:not(:last-child) {
margin-right: 20px;
}

header .upper-header nav.engagement-account-nav {
  float: right;
}

header .upper-header .log-in {
  padding: 10px 32px;
  border: solid 1px white;
  border-radius: 5.5px;
  text-decoration: none;
}

header .upper-header .green-button-link {
  padding: 10px 12px;
}

header .lower-header.background-header {
  margin-top: 90px;
  height: 450px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 115% 100%;
}

header .lower-header h1 {
  width:55%;
  padding-top: 70px;
  font-size: 55px;
  font-weight: 500;
}

header .lower-header .green-button-link {
  padding: 25px 20px;
  font-size: 16px;
  margin-top: 40px;
  display: inline-block;
}
/* /HEADER SETTINGS */

/* MAIN SETTINGS */
.background-main {
background-color: #D3D3D3;
}

main .slogan-title.background-main {
  text-align: center;
  padding: 40px 0px;
}

main .slogan-title h2 {
  font-size: 27.5px;
}

main .slogan-title p {
  font-size: 20px;
}

main .top-sections {
  text-align: center;
}

main .top-sections section {
  float: left;
  width: calc(100% / 3);
  padding: 0px 10px 30px 10px;
}

main .top-sections img {
  height: 200px;
  width: auto;
  vertical-align: baseline;
  margin: 30px 0 20px 0;
  padding-top: 10px;
}

main .top-sections h3 {
  padding-bottom: 30px;
  font-size: 27.5px;
  color: #7CBB02;
}

main .top-sections section hr {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: solid 0.25px #797979;
}

main .top-sections p {
  padding-top: 40px;
  line-height: 1.5em;
  font-size: 20px;
}

main hr.hr-main-divider {
  width: 95%;
  margin: 40px auto;
}

main .mid-sections {
  margin-bottom: 40px;
  padding: 0 3%;
}

main .mid-sections img {
  float: left;
  width: 50%;
  padding-right: 3%;
  /* vertical-align: top; */
}

main .mid-sections aside {
  margin-left: 55%;
}

main .mid-sections aside > * {
  padding-bottom: 15px;
}

main .mid-sections aside h3 {
  font-size: 35px;
}

main .mid-sections aside p {
font-size: 20px;
}
/* /MAIN */

/* FOOTER */
footer.background-main {
  width: 100%;
}

footer .bottom-sections h3, footer .bottom-sections .select-plan {
  display: inline-block;
}

footer .bottom-sections .select-plan {
  padding-left: 70%;
}

footer .bottom-sections h3 {
  font-size: 27.5px;
}

footer .bottom-sections .select-plan .green-button-link {
padding: 20px;
font-size: 20px;
}

footer .bottom-sections .help {
  position: fixed;
  bottom: 0;
  right: 0;
}

footer .bottom-sections > .green-button-link {
}
