* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TYPO SETTINGS */
* {
  font-family: 'Roboto', sans-serif;
}

header {
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

p {
  color: grey;
}
/* /TYPO SETTINGS */

/* REPEATED SETTINGS */
.container {
  margin: auto;
  width: 79.5%;
}

.green-button-link {
  background-color: #7CBB02;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* /REPEATED SETTINGS */

/* HEADER SETTINGS */
header {
  background-color: #0C325A;
}

header .upper-header {
  line-height: 50px;
}

header .upper-header > * {
  float: left;
  padding-top: 15px ;
  font-size: 12px;
}

header .upper-header img {
  width: 10%;
}

header .upper-header .main-nav {
  padding-left: 70px;
}

header .upper-header nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

header .upper-header nav li:not(:last-child) {
margin-right: 20px;
}

header .upper-header nav.engagement-account-nav {
  float: right;
}

header .upper-header .log-in {
  padding: 10px 32px;
  border: solid 1px white;
  border-radius: 5.5px;
  text-decoration: none;
}

header .upper-header .green-button-link {
  padding: 10px 12px;
}

header .lower-header.background-header {
  margin-top: 80px;
  padding-top: 10px;
  height: 460px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 120% 100%;
}

header .lower-header h1 {
  width:55%;
  padding-top: 70px;
  font-size: 55px;
  font-weight: 500;
}

header .lower-header .green-button-link {
  padding: 25px 20px;
  font-size: 16px;
  margin-top: 40px;
  display: inline-block;
}
/* /HEADER SETTINGS */

/* MAIN SETTINGS */
.background-main {
background-color: #D3D3D3;
width: 100%;
}

main .slogan-title.background-main {
  text-align: center;
  padding: 45px 0px;
}

main .slogan-title h2 {
  font-size: 27.5px;
  padding-bottom: 12px;
}

main .slogan-title p {
  font-size: 20px;
}

main .top-sections {
  text-align: center;
}

main .top-sections section {
  float: left;
  width: calc((100% - (2.5% * 4)) / 3);
  padding-bottom: 30px;
}

main .top-sections section:first-child, main .top-sections section:nth-child(2){
margin-right: 2.5%;
}

main .top-sections section:nth-child(3), main .top-sections section:nth-child(2){
margin-left: 2.5%;
}

main .top-sections img {
  height: 180px;
  vertical-align: baseline;
  margin: 30px 0 20px 0;
  padding-top: 10px;
}

main .top-sections h3 {
  padding-bottom: 30px;
  font-size: 28.5px;
  font-weight: 500;
  color: #7ABA14;
}

main .top-sections section .hr-title-divider {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-bottom: solid 1px #797979;
}

main .top-sections p {
  padding-top: 30px;
  line-height: 1.5em;
  font-size: 19.5px;
}

main div.hr-main-divider {
  width: 95%;
  margin: 40px auto;
  border-bottom: solid 1px  #D7D7D7;
}

main .mid-sections {
  margin-bottom: 40px;
  padding: 0 3%;
}

main .mid-sections img {
  float: left;
  width: 50%;
  padding-right: 3%;
}

main .mid-sections aside {
  margin-left: 55%;
}

main .mid-sections aside > * {
  padding-bottom: 15px;
}

main .mid-sections aside h3 {
  font-size: 35px;
}

main .mid-sections aside p {
font-size: 21px;
}
/* /MAIN SETTINGS */

/* FOOTER SETTINGS */
footer.background-main {
  padding: 50px 0px;
}

footer .bottom-sections {

}

footer .bottom-sections h4 {
  float: left;
  font-size: 35px;
  line-height: 64px;
}

/* SELECT SECTION SETTINGS */
footer .bottom-sections .select-plan {
  float: right;
  color: grey;
}

footer .bottom-sections .select-plan > * {
  display: inline-block;
}

footer .bottom-sections .select-plan .select {
  min-width: 150px;
  margin: 0 25px;
  border-bottom: solid 2px grey;
}

footer .bottom-sections .select-plan .select-right {
  float: right;
}

footer .bottom-sections .select-plan .green-button-link {
  padding: 20px 15px;
}
/* /SELECT SECTION SETTINGS */

footer.background-main .help-fixed {
  position: fixed;
  bottom: 10px;
  right: 15.8%;
}

footer.background-main .help-fixed .green-button-link {
  padding: 10px;
}
